@use "../../foundation/variable" as *;



.c-breadcrumbs {
  background-color: $color-breadcrumbs;

  .l-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 2rem;
    align-items: center;
    height: 3.6rem;
    > span {
      flex-shrink: 0;
    }

    @include pc {
      column-gap: 1.9rem;
      height: 5rem;
    }
  }

  a {
    @include pc {
      transition: opacity 0.4s;

      @include pc-hover {
        opacity: 0.7;
      }
    }
  }

  a,
  .current-item {
    display: inline-block;
    font-size: 1.6rem;
    white-space: nowrap;

    @include pc {
      padding-block: 1rem;
    }
  }

  .c-breadcrumbs__arrow {
    margin-left: 1.2rem;
  }
}