@use "../../foundation/variable" as *;

.c-breadcrumbs {
  background-color: $color-breadcrumbs;
  align-items: center;

  ol {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    height: 3.6rem;

    @include pc {
      column-gap: 1.9rem;
      height: 5rem;
    }
  }
  a {
    @include pc {
      transition: opacity 0.4s;
      @include pc-hover {
        opacity: 0.7;
      }
    }
  }
  a,
  .c-breadcrumbs__current {
    display: inline-block;
    font-size: 1.6rem;
    // line-height: calc(33 / 16);

    @include pc {
      padding-block: 1rem;
    }
  }

  .c-breadcrumbs__arrow {
    margin-left: 1.2rem;
  }
}
