@use "../../foundation/variable" as *;

.c-category {
  background-color: $color-main;
  font-size: 1.5rem;
  line-height: calc(25 / 15);
  width: 9rem;
  height: 3rem;
  display: grid;
  place-items: center;
  font-weight: 700;
  color: #fff;

  @include pc {
    width: 8rem;
  }
}
