@use "../../foundation/variable" as *;



.c-pagination {
  .wp-pagenavi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    @include pc {
      column-gap: 1rem;
    }
  }

  .current,
  .page,
  .last,
  .first
  {
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid #000;
    display: grid;
    place-content: center;
    transition: background-color 0.4s, color 0.4s;

    @include pc {
      width: 5rem;
      height: 5rem;
      font-size: 1.8rem;
    }

    @include pc-hover {
      color: #fff;
      background-color: #000;
    }
  }

  .current {
    color: #fff;
    background-color: #000;
  }

  .extend {
    display: inline-block;
    padding-inline: 0.7rem;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;

    @include pc {
      padding-inline: 1rem;
      font-size: 1.8rem;
    }
  }
}