@use "../../foundation/variable" as *;

.c-submit {
  width: 100%;
  max-width: 33.5rem;
  height: 5rem;
  background-color: $color-main;
  display: flex;
  place-items: center;
  // align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: calc(26 / 20);
  font-weight: 700;
  color: #fff;
  border: 0.1rem solid $color-main;
  transition:
    opacity 0.4s,
    visibility 0.4s,
    background-color 0.4s,
    color 0.4s;

  @include pc {
    width: 25rem;
    cursor: pointer;
    font-size: 2.5rem;
    line-height: calc(33 / 25);
  }

  @include pc-hover {
    background-color: #fff;
    color: $color-main;
  }
}


