@use "../../foundation/variable" as *;

.p-blog-details__contents {
  margin-top: 5rem;
  margin-bottom: 5.2rem;

  @include pc {
    margin-top: 7rem;
    margin-bottom: 2.4rem;
  }
}

.p-blog-details__breadcrumbs {
  height: 5.9rem;

  @include pc {
    height: 5rem;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    column-gap: 2.5rem;
    row-gap: 0;
  }
}
.p-blog-details__item {
  @include pc {
    display: flex;
    flex-direction: column;
  }
}

// ------------details独自のクラス名に変える

.details-card {
  @include pc {
    display: flex;
    gap: 5.5rem;
  }
}

.details-card__image {
  position: relative;
  width: 100%;

  @include pc {
    aspect-ratio: auto;
    width: 100%;
    flex-shrink: 0;
  }

  img {
    width: 100%;
    aspect-ratio: 335 / 200;
    object-fit: cover;
    display: block;

    @include pc {
      aspect-ratio: 600 / 350;
      object-fit: cover;
    }
  }
}

.details__category {
  position: absolute;
  top: 0;
  left: 0;
}

.details-card__textarea {
  margin-top: 3rem;

  @include pc {
    margin-top: -0.5rem;
  }
}

.details-card__heading {
  @include pc {
    margin-top: 0rem;
  }
}

.details-card__date {
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  text-align: left;
  margin-top: 0.5rem;

  @include pc {
    text-align-last: left;
  }
}

.details-card__text {
  margin-top: 3rem;

  @include pc {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
  }
}

// -----------

.p-blog-details__wp-editor {
  p {
    margin-top: 2.5rem;
    @include pc {
      margin-top: 4.5rem;
      font-size: 1.8rem;
    }
  }

  h2 {
    margin-top: 3.9rem;
    font-size: 2rem;
    font-weight: bold;
    @include pc {
      margin-top: 2.9rem;
    }
  }

  h2 + p {
    margin-top: 1.7rem;
  }

  figure {
    margin-top: 6.9rem;
    width: 100%;

    @include pc {
      margin-top: 1rem;
      width: 33.5rem;
      img {
        width: 100%;
        aspect-ratio: 335 / 200;
        object-fit: cover;
      }
    }
  }

  ul {
    margin-top: 2.7rem;

    li {
      position: relative;
      font-size: 1.6rem;
      line-height: calc(30 / 16);
      padding-left: 1.5rem;

      @include pc {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1.2rem;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }

  hr {
    margin-top: 3.85rem;
    border: #000 solid 0.05rem;
    width: 100%;

    @include pc {
      margin-top: 4.05rem;
    }
  }

  h3 {
    margin-top: 4.5rem;
    border-left: 0.3rem solid #000;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  blockquote {
    position: relative;
    display: flex;
    gap: 1.4rem;
    margin-top: 2.95rem;
    background-color: #e8e8e8;
    padding: 1.7rem 2rem 1.1rem 6.5rem;

    @include pc {
      font-size: 1.8rem;
      margin-top: 3rem;
      padding: 1.7rem 2rem 1.2rem 7rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 2.5rem;
      top: 1.7rem;
      width: 2.8rem;
      height: auto;
      aspect-ratio: 1 / 1;
      background: url(../img/blog-details/quote.svg) no-repeat center /
        contain;
      @include pc {
        width: 2.8rem;
      }
    }
    p {
      margin-top: 0; 
      line-height: calc(33 / 18);

      @include pc {
        line-height: calc(28 / 18);
      }
    }
  }
  .p-blog-details__quote {
    width: 16rem;
    max-width: 100%;
  }

  a {
    color: $color-main;
    font-size: 2rem;
    line-height: calc(33 / 20);
    font-weight: 700;
    text-decoration: underline;
    margin-top: 2.7rem;
    transition: opacity 0.4s;

    @include pc-hover {
      opacity: 0.7;
    }
  }
}
