@use "../../foundation/variable" as *;

.p-blog {
  padding-block: 1.5rem 4.5rem;

  @include pc {
    padding-block: 2.5rem 4.5rem;
  }

  &__contents {
    margin-top: 3.5rem;
    display: grid;
    gap: 3.7rem;

    @include pc {
      margin-top: 3.3rem;
      margin-bottom: 3.7rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }
  }

  &__date {
    display: grid;
    place-items: end;
    padding-top: 1rem;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
  }

  &__heading {
    padding-top: 3rem;

    @include pc {
      padding-top: 2rem;
      font-size: 2rem;
      line-height: calc(25 / 20);
    }
  }

  &__item {
    display: block;
    cursor: pointer;
    transition: opacity 0.4s;

    @include pc-hover {
      opacity: 0.7;
    }
  }

  .p-blog__item-img {
    position: relative;
  }

  .p-blog__category {
    position: absolute;
    top: 0;
    left: 0;
  }

  .p-blog__thumb {
    img {
      aspect-ratio: 335 / 200;
      object-fit: cover;

      @include pc {
        width: 100%;
        aspect-ratio: 260 / 200;
        object-fit: cover;
      }
    }
  }

  .p-blog__link {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    display: grid;
    place-items: center;
    margin-top: 3.5rem;
    transition: opacity 0.4s;

    a {
      text-decoration: underline;
    }

    @include pc {
      display: block;
      text-align: right;
    }

    @include pc-hover {
      opacity: 0.7;
    }
  }
}
