@use "../../foundation/variable" as *;

.p-contact-form__contents {
  margin-top: 4.7rem;
  margin-bottom: 10.8rem;

  @include pc {
    margin-top: 6.8rem;
    margin-bottom: 10rem;
  }
}
.p-contact-form__heading {
  font-size: 1.6rem;
  line-height: calc(30 / 16);

  @include pc {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: center;
  }
}
.p-contact-form__block {
  margin-top: 3.2rem;

  @include pc {
    margin-top: 6.5rem;
  }
}

.smf-item {
  margin-top: 1rem;
  display: block;

  @include pc {
    display: flex;
  }

  dd {
    flex: 1;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;

    @include pc {
      margin-bottom: 3rem;
    }
  }
}
.smf-item__label {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  line-height: calc(33 / 16);

  @include pc {
    font-size: 2rem;
    line-height: calc(33 / 20);
    width: 16.9rem;
    align-items: center;
    margin-top: 0.5rem;
  }
}

.smf-item__col--label {
  @include pc {
    flex: 0 0 16.9rem !important;
    max-width: 16.9rem !important;
  }
  padding-bottom: 0 !important;
}

// .smf-item__label-text {
//   br {
//     display: none;

//     @include pc {
//       display: block;
//     }
//   }
// }

.p-contact-form__checkbox-area {
  @include pc {
    margin-bottom: 1.6rem;
    margin-top: -0.5rem;
  }
}
.form-item__checkbox {
  @include pc {
    cursor: pointer;
  }
}

.p-contact-form__purpose {
  @include pc {
    font-size: 2rem;
    line-height: calc(30 / 20);
  }
}

.smf-text-control__control,
.smf-textarea-control__control {
  width: 100%;
  border: 0.05rem solid #000 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: #fff !important;
  font-size: 1.5rem;
  color: $color-text;
  padding: 0 2rem !important;
  max-width: 100% !important;
  transition: none !important;

  &::placeholder {
    color: #b2b2b2;
    font-size: 1.5rem;
  }

  @include pc {
    cursor: pointer;
  }
}

.smf-text-control__control {
  height: 4rem;
}

.smf-textarea-control__control {
  height: 19rem;
  padding-top: 1.2rem !important;
  resize: none;
  word-break: break-all;

  @include pc {
    height: 30rem;
  }
}

.smf-checkboxes-control__control {
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;

  @include pc {
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3rem;
  }
}

.smf-checkbox-control__control {
  display: none !important;

  & + .smf-checkbox-control__label {
    display: inline-block;
    padding-left: 2.5rem;
    position: relative;
    font-size: 1.6rem;
    line-height: calc(30 / 16);

    @include pc {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      padding-left: 3.5rem;
    }

    &::before {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: #ffffff;
      border: 0.05rem solid #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      top: 50%;
      left: 0.2rem;
      transform: translateY(-50%);
      background: url(../img/contact/check.svg) no-repeat center center /
        contain;
      opacity: 0;
    }
  }

  &:checked + .smf-checkbox-control__label::after {
    opacity: 1;
  }
}

.smf-submit-btn {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include pc {
    margin-top: 4.5rem;
  }
}

.p-contact-form__back-to-top {
  position: fixed;
  bottom: 32rem;
  z-index: 100;
  width: 68px;
  height: 68px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s,
    visibility 0.4s;
  clip-path: circle(50%);

  @include pc {
    bottom: 30rem;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;

    @include pc-hover {
      opacity: 0.7;
    }
  }
}

.smf-error-messages {
  margin-top: 0.6rem;
  color: $color-main !important;
}


// .form-error-msg {
//   display: none;
// }

// [data-screen="invalid"] .form-error-msg {
//   display: block;
//   margin-top: 15px; 
//   text-align: center; 
// }
// .smf-system-error-content-ready {
//   display: none;
// }


