@use "../../foundation/variable" as *;

.p-flow {
  padding-block: 4.6rem 0;

  @include pc {
    padding-block: 3.4rem 0rem;
  }

  &__contents {
    margin-top: 4rem;

    @include pc {
      margin-top: 5.5rem;
    }
  }

  &__items {
    position: relative;
  }

  &__textarea {
    position: relative;
    margin-left: 4.8rem;
    display: grid;
    gap: 3.6rem;

    &::before {
      content: "";
      position: absolute;
      left: -3rem;
      top: 0.5rem;
      width: 3px;
      bottom: 4.5rem;
      background-color: $color-main;

      @include pc {
        left: 1.2rem;
      }
    }

    @include pc {
      gap: 5.5rem;
    }
  }

  &__textarea-item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -3.8rem;
      top: 0.5rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $color-main;
      z-index: 1;

      @include pc {
        left: -6.9rem;
      }
    }

    @include pc {
      display: flex;
      margin-left: 7.3rem;
    }
  }

  &__heading {
    width: 19.2rem;
    align-items: center;
  }
  &__body-text {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    margin-top: 0.8rem;

    @include pc {
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      margin-top: -0.3rem;
    }
  }

  &__arrow {
    margin-left: -4.4rem;
    width: 3.1rem;
    margin-top: -6rem;

    @include pc {
      margin-left: -0.2rem;
    }
  }
}
